<div id="account-refill-container">
  <form [formGroup]="refillForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Номер счета</mat-label>
      <mat-select formControlName="accountNumber">
        <mat-option *ngFor="let account of accounts$ | async" [value]="account.value">
          {{ account.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Сумма пополнения</mat-label>
      <input matInput formControlName="amount" type="number" placeholder="Введите сумму" />
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="refillForm.invalid">Пополнить счет</button>
    <div *ngIf="refillForm.invalid && refillForm.touched" class="error-message">
      Пожалуйста, заполните все поля.
    </div>
  </form>
</div>
