<div class="account-refill-container">
  <form [formGroup]="refillForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Номер счета</mat-label>
      <mat-select formControlName="accountNumber">
        <mat-option *ngFor="let account of accounts" [value]="account.number">
          {{ account.number }} ({{ account.name }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Сумма пополнения</mat-label>
      <input matInput formControlName="amount" placeholder="Введите сумму" />
    </mat-form-field>
    
  
    <button mat-raised-button color="primary" type="submit">Пополнить счет</button>
  </form>  
</div>
