<div class="account-transfer-container">
  <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="fromAccount">Откуда перевести</label>
      <select id="fromAccount" formControlName="fromAccount">
        <option *ngFor="let account of accounts$ | async" [value]="account.value">
          {{ replaceCurrencyCode(account.value) }} <!-- Для счета отправления с заменой валюты -->
        </option>
      </select>
    </div>

    <div>
      <label for="toAccount">Куда перевести</label>
      <select id="toAccount" formControlName="toAccount">
        <option *ngFor="let account of accounts$ | async" [value]="account.value">
          {{ extractAccountNumber(account.value) }} <!-- Для счета получателя выводим только номер -->
        </option>
      </select>
    </div>

    <div>
      <label for="amount">Сумма перевода</label>
      <input id="amount" formControlName="amount" type="number" placeholder="Введите сумму">
    </div>

    <div>
      <input type="text" formControlName="comment" placeholder="Комментарий">
    </div>

    <button type="submit">Перевод</button>
  </form>
</div>
