.account-transfer-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #4e4e4e;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

select, input {
  width: 100%; 
  padding: 12px; 
  border-radius: 15px; 
  border: 1px solid #ccc;
 
  font-size: 16px;
  box-sizing: border-box; 
}

select:focus, input:focus {
  border-color: #6a1b9a;
  outline: none;
  box-shadow: 0 0 0 3px rgba(106, 27, 154, 0.3);
}

button {
  width: 50%; 
  padding: 12px; 
  font-size: 16px;
  margin: auto;
  font-weight: bold;
  background-color: #d3db00; 
  color: #fff;
  border-radius: 15px; 
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5e35b1; 
} 

label {
  color: white;
  font-size: 16px;
}

.account-transfer-container {
  margin-bottom: 20px; 
}

@media (max-width: 600px) {
  .account-transfer-container {
    padding: 15px;
  }

  select, input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

