.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

mat-card {
  background-color: #333;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: 80%;
  transition: width 0.3s ease-in-out; 
}

.table_head {
  text-align: center;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
  border-radius: 15px;
  overflow: hidden;
}

th, td {
  color: #ffffff;
  padding: 10px;
  background-color: #444;
  text-align: center;
  transition: font-size 0.3s ease-in-out, padding 0.3s ease-in-out; 
}

th {
  font-weight: bold;
}

td {
  padding: 15px 10px;
}

tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

mat-icon {
  margin-right: 10px;
  color: #ffffff;
}

@media (max-width: 1080px) {
  mat-card {
    width: 90%; 
  }

  th, td {
    font-size: 14px; 
    padding: 10px;   
  }
}

@media (max-width: 768px) {
  mat-card {
    width: 95%; 
  }

  th, td {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  mat-card {
    width: 100%;
  }

  th, td {
    font-size: 10px;
    padding: 6px;
  }
}

@media (max-width: 320px) {
  th, td {
    font-size: 8px;
    padding: 4px;
  }
}
@media (max-width: 240px) {
  th, td {
    font-size: 6px;
    padding: 5px;
  }
}
