<div class="container">
    <mat-card>
      <mat-card-title>История операций</mat-card-title>
      <table mat-table [dataSource]="operationHistory">
    
        <ng-container matColumnDef="type">
          <th class="table_head" mat-header-cell *matHeaderCellDef> Тип операции </th>
          <td mat-cell *matCellDef="let operation" data-title="Тип операции"> {{ operation.name }} </td>
        </ng-container>
    
        <ng-container matColumnDef="date">
          <th class="table_head" mat-header-cell *matHeaderCellDef> Дата </th>
          <td mat-cell *matCellDef="let operation" data-title="Дата"> 
            {{ operation.createdDate | date:'dd.MM.yyyy HH:mm' }} 
          </td>
        </ng-container>
    
        <ng-container matColumnDef="amount">
          <th class="table_head" mat-header-cell *matHeaderCellDef> Сумма </th>
          <td mat-cell *matCellDef="let operation" data-title="Сумма"> {{ operation.balance }} </td>
        </ng-container>

        <ng-container matColumnDef="currency">
            <th class="table_head" mat-header-cell *matHeaderCellDef> Валюта </th>
            <td mat-cell *matCellDef="let operation" data-title="Валюта"> 
              {{ getCurrencySymbol(operation.currency) }}
            </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </div>
  