.header-toolbar {
    background-color: rgb(50, 50, 50);
    border-radius: 1px;
    display: flex;
    align-items: center;
  }
  .header-logo img {
    height: 50px;
  }
  .header-nav {
    display: flex;
    gap: 20px;
  }
  .header-actions {
    display: flex;
    gap: 10px;
  }
  .span {
    flex: 1 1 auto;
  }
