.recovery-container {
    max-width: 400px;
    margin: 5rem auto;
    padding: 2rem;
    background: #333;
    border-radius: 10px;
    color: #fff;
  
    form {
      display: flex;
      flex-direction: column;
    }
  
    mat-form-field {
      width: 100%;
      margin-bottom: 1rem;
      position: relative;
  
      .mat-input-element {
        padding-right: 2.5rem;
      }
  
      mat-error {
        color: #ff6b6b;
        font-size: 0.875rem;
      }
    }
  
    button {
      width: 100%;
      max-width: 200px;
      margin: 1.5rem auto 0;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      background-color: #480b9e;
      color: #fff;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #5ab300;
      }
    }
  
    .success-message {
      margin-top: 1rem;
      color: #4caf50;
      font-size: 1rem;
      text-align: center;
    }
  
    .error-message {
      margin-top: 1rem;
      color: #f44336;
      font-size: 1rem;
      text-align: center;
    }
  }
  