<div class="app-container">
    <app-header></app-header>
    <div class="navigation-header" *ngIf="authService.isLoggedIn() | async">
      <button class="nav-button" mat-icon-button routerLink="toolbar/products">
        <mat-icon>home</mat-icon>
        <span>Главная страница</span>
      </button>
      <button class="nav-button" mat-icon-button routerLink="toolbar/history">
        <mat-icon>history</mat-icon>
        <span>История</span>
      </button>
      <button class="nav-button" mat-icon-button routerLink="toolbar/profile">
        <mat-icon>person</mat-icon>
        <span>Личный кабинет</span>
      </button>
    </div>    
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
  


