.navigation-header {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    background-color: #ffffff; 
    padding: 15px 0;
}
.navigation-footer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
    a {
      text-decoration: none;
      color: #2e2f48;
  
      &:hover {
        text-decoration: underline;
      }
    }
}
.nav-button {
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    background-color: #ff9d00;
    color: #000000; 
    transition: color 0.3s ease;
    &:hover {
        color: #ffffff;
        background-color: #000000;
    }
}

span {
    font-size: 14px; 
}