html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh; /* Занимает всю высоту окна браузера */
}

.content-container {
  flex: 1; /* Данный блок будет занимать все оставшееся пространство между хэдером и футером */
  padding: 20px; /* Добавление отступов */
  box-sizing: border-box; /* Убедимся, что padding не добавляется к ширине */
}

app-header {
  flex: 0 0 auto; /* Фиксированное положение хедера наверху */
}

app-footer {
  flex: 0 0 auto; /* Фиксированное положение футера внизу */
}



body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
}
