<mat-toolbar color="primary" class="header-toolbar">
    <div class="header-logo">
      <img src="assets/logo/favicon.png" alt="Bank Logo">
    </div>
    <nav class="header-nav">
      <a mat-button routerLink="/personal">Частным лицам</a>
      <a mat-button routerLink="/business">Малому бизнесу</a>
      <a mat-button routerLink="/corporate">Корпоративным клиентам</a>
      <a mat-button routerLink="/investments">Инвестиции</a>
    </nav>
    <span class="spacer"></span>
    <div class="header-actions">
      <button mat-button>Контакты</button>
      <button mat-button>Офисы и банкоматы</button>
    </div>
</mat-toolbar>
  
  
 