.account-open-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
  
    form {
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #1a1f8692;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    mat-form-field {
      width: 100%;
  
      mat-select {
        background-color: #ffffff;
        height: 30px;
        
      }
      
      mat-option {
        background-color: #ffffff; // Белый фон для каждой опции
        color: #000000;           // Черный цвет для текста опции
      }
    }
  
    button {
      align-self: center;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  